<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/birthday-cake.png">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+HU&display=swap" rel="stylesheet">
    <title>13/11</title>
    
</head>
<body>
    <div class="app">
        <div class="container">

            {{{body}}}

        </div>
    </div>    
    
</body>
</html>