<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>14-02-25</title>
</head>
<body>
    <div class="app">
        <div class="container">

            {{{body}}}

        </div>
    </div>    
</body>
</html>