<h1>Your Short URL</h1>
<div>        
    <p>Short URL is: <a href="{{shortUrl}}" id="shortUrl">{{shortUrl}}</a></p>
    <button onclick="copyToClipboard()">Copy URL</button>
    <p id="copyMessage" style="display: none;">Short URL copied to clipboard</p>
</div>
<a href="/">Shorten another link!</a>

<script src="/js/result.js"></script>
