<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
    <p>Made by Phúc with love &#10084;</p>
    <div class="footer-links">
        <a href="https://www.facebook.com/646564696E73696465" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@phuscc" target="_blank"><i class="fa-brands fa-youtube"></i></a> 
        <a href="https://github.com/phuc165" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/t%E1%BA%A5n-ph%C3%BAc-h%C3%A0-5444a0349/ " target="_blank" ><i class="fa-brands fa-linkedin"></i></a>
        {{!-- <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a> --}}
    </div>
</footer>